@charset "ISO-8859-1";



ul{
  justify-content: center;
  display: flex; 
  list-style-type: none;
  margin : 0;
  padding: 15;
  overflow: hidden;
  background-color: #333333;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}







.divCopyright {
	background-color:#252525;
	font-size: 20px; 
	display: block;
	color: white; 
	text-align: center; 
	padding: 16px; 
	text-decoration: none;	
}



.divImage {
    object-fit: fill;
    object-position: 100% 0;
	width: 1475;
	height: 500;
    overflow: hidden;
}

.cropped {
	width: 1475;
	height: 500;
    overflow: hidden;

}


.imgRotate {

transform:rotate(45deg);

-ms-transform: rotate(90deg); /* IE 9 */

-webkit-transform: rotate(90deg); /* Safari e Chrome */

}










