<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>befloral</display-name>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>  
  </welcome-file-list>

<servlet>
	<servlet-name>servo</servlet-name>
	<servlet-class>servo</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>servo</servlet-name>
	<url-pattern>/it/befloral/controller/servo</url-pattern>
</servlet-mapping>

<jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
    <jsp-property-group>
        <url-pattern>*.tag</url-pattern>                
        <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
</jsp-config>

</web-app>







