/* new product view */
html,
body {
  background: #e3e3d8;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

html, body {
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 25px;
}

.product-wrapper {
  width: 350px;
  height: 550px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.product-wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.product-wrapper .product-container {
  width: 100%;
  height: 100%;
}
.product-wrapper .product-container .product-top {
  height: 75%;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.product-wrapper .product-container .product-bottom {
  width: 200%;
  height: 25%;
  transition: transform 0.5s;
}
.product-wrapper .product-container .product-bottom.clicked {
  transform: translateX(-50%);
}
.product-wrapper .product-container .product-bottom h1 {
  margin: 0;
  padding: 0;
}
.product-wrapper .product-container .product-bottom p {
  margin: 0;
  padding: 0;
}
.product-wrapper .product-container .product-bottom .product-left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.product-wrapper .product-container .product-bottom .product-left .product-details {
  padding: 20px;
  float: left;
  width: calc(75% - 42px);
  height: 72%;
}
.product-wrapper .product-container .product-bottom .product-left .product-buy {
  float: right;
  width: calc(25% - 0px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.product-wrapper .product-container .product-bottom .product-left .product-buy i {
  margin-top: 20px;
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.product-wrapper .product-container .product-bottom .product-left .product-buy:hover {
  background: #A6CDDE;
}
.product-wrapper .product-container .product-bottom .product-left .product-buy:hover i {
  transform: translateY(5px);
  color: #00394B;
}
.product-wrapper .product-container .product-bottom .product-right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.product-wrapper .product-container .product-bottom .product-right .product-details {
  padding: 20px;
  float: right;
  width: calc(85% - 35px);
  height: 72%;
}

.product-wrapper .product-container .product-bottom .product-right .product-details .title {
  color: #fff;
}

.product-wrapper .product-container .product-bottom .product-right .product-details .subtitle {
  color: #fff;
}

.product-wrapper .product-container .product-bottom .product-right .product-done {
  width: calc(25% - 0px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.product-wrapper .product-container .product-bottom .product-right .product-done i {
  margin-top: 20px;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.product-wrapper .product-container .product-bottom .product-right .product-remove {
  width: calc(25% - 0px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 75%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
.product-wrapper .product-container .product-bottom .product-right .product-remove:hover {
  background: #9B2847;
}
.product-wrapper .product-container .product-bottom .product-right .product-remove:hover i {
  transform: translateY(25px);
}
.product-wrapper .product-container .product-bottom .product-right .product-remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.product-wrapper .product-container .product-bottom .product-right:hover .product-remove, .product-wrapper .product-container .product-bottom .product-right:hover .product-done {
  transform: translateY(-100%);
}
.product-wrapper .inside {
  z-index: 9;
  background: #92879B;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.product-wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.product-wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 75%;
}
.product-wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.product-wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.product-wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.product-wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.product-wrapper .inside .contents h1, .product-wrapper .inside .contents p, .product-wrapper .inside .contents table {
  color: white;
}
.product-wrapper .inside .contents p {
  font-size: 13px;
}

.material-icons {
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
/* end new product view */

/* fonts  */
