/* new product view */
html,
body {
  background: #e3e3d8;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  width: 300px;
  height: 500px;
  background: white;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .wrapper-container {
  width: 100%;
  height: 100%;
}
.wrapper .wrapper-container .wrapper-top {
  height: 80%;
  width: 100%;
  background: no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .wrapper-container .wrapper-bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .wrapper-container .wrapper-bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .wrapper-container .wrapper-bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .wrapper-container .wrapper-bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-left {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-left .details {
  padding: 20px;
  float: left;
}

.wrapper .wrapper-container .wrapper-bottom .wrapper-left .details p {
  font-size: 17px;
  font-weight: 700;
}

.wrapper .wrapper-container .wrapper-bottom .wrapper-left button {
	display: contents;
}

.wrapper .wrapper-container .wrapper-bottom .wrapper-left .buy {
  display: flex;
  float: right;
/*width: calc(30% - 2px); */
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-left .buy:hover {
  background: #a6cdde;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-left .buy:hover i {
  transform: translateY(5px);
  color: #00394b;
}
.wrapper .wrapper-container .bottom .right {
  width: 50%;
  background: #a6cdde;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .details {
  padding: 20px;
  float: right;
}

.wrapper .wrapper-container .wrapper-bottom .wrapper-right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #bc3b59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .remove:hover {
  background: #9b2847;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .wrapper-container .wrapper-bottom .wrapper-right:hover .remove,
.wrapper .wrapper-container .wrapper-bottom .wrapper-right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: #92879b;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1,
.wrapper .inside .contents p,
.wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}
.material-icons {
	font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
/* end new product view */

/* fonts  */
