.flex {
	display:flex;
	
}
.flex-spaced {
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
}
.user-profile {
	display:flex;
}

.user-profile-menu {
	padding-right: 25px;
	flex-basis: 25%;
}
.user-profile h2, .user-profile h3 {
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.user-profile p {
	margin-block-start: 1em;
    margin-block-end: 1em;
}

.user-profile .right .header {
	display: flex;
	align-items: center;
}

.user-profile .right .header .title-left {
	margin-right: 20px;
}

.user-profile-menu ul {
	flex-direction: column;
	padding: 24px 0 24px 24px;
	text-align: left;
	background: #fff;
	margin-block-start: 1em;
    margin-block-end: 1em;
}

.user-logout {
	color: #41d5ab !important;
	display: block;
	flex-direction: column;
	padding: 16px 0 16px 24px;
	text-align: left;
	background: #fff;
}

.user-profile ul {
	list-style-type:none;
}

.user-profile .right {
	margin-left: 20px;
	flex-basis: 75%;
}

.order-details {
	display: flex;
	padding: 20px;
	background: white;
	margin-bottom: 10px;
}

.order-details-image {
	max-height: 120px;
	max-width: 120px;
	margin-right: 20px;
}

.order-details ul {
	list-style-type:none;
	padding-inline-start: 0;
	margin-top: 0;
}

.delivery-date {
	font-size: 14px;
	font-weight: 700;
}

.user-profile .active {
	font-weight: 700;
}

.links {
	padding: 8px 16px;
    background: #41d5ab;
    border-radius: 6px;
    margin: 0 auto;
    color: white !important;
}
